<!DOCTYPE html>
<html lang="es">
 <head>
  <meta http-equiv='Content-type' content='text/html; charset=utf-8' />
  <title>DIRECTV Sport Park</title>
  <?php Tag::css('style') ?>
  <?php Tag::css('jquery.lightbox') ?>
  <link rel="home" href="<?php echo PUBLIC_PATH?>" title="Alquiler" id="publicPath" />
  <?php echo Html::includeCss() ?>

</head>
<body>
    <div class="container_12">
        <div class="grid_12">
	        <div id="nav">
	            <a title="Volver al Inicio" class="menu home" href="/"><span>Inicio</span></a>
	            <a href="/alquilar/" title="Alquilar cancha por fecha" class="menu green"><span>Alquilar</span></a>
	            <a href="/alquilar/disponibilidad/" title="Alquilar cancha para hoy" class="menu green"><span>Alquilar Hoy</span></a>
	            <a href="/mis_alquileres/" title="Muestra la información de los alquileres realizados" class="menu green"><span>Mis Alquileres</span></a>
	            <a href="/terminos-condiciones/" title="Términos y condiciones de compra" class="menu green"><span>Términos y condiciones</span></a>
	            <a href="/cambiar-clave/" title="Cambiar la clave" class="menu white"><span>Cambar Clave</span></a>
	            <?php if(Session::get('rol') == 'admin'):?>
	               <a href="/admin/reservaciones/" title="Ir a reservaciones" class="menu white"><span>Reservaciones</span></a>
	               <a href="/admin/reservaciones/hoy/" title="Reservaciones para hoy <?php echo date('d-m-Y')?>" class="menu white"><span>Reservar hoy</span></a>
                 <a href="/admin/reservaciones/canceladas/" title="Reservaciones Canceladas" class="menu white"><span>Reservaciones Canceladas</span></a>
	            <?php endif;?>
	            <a href="/salir/" title="Salir del sistema" class="menu home"><span>Salir</span></a>
	        </div>
            <h1>Pago Online</h1>
            <h2>DIRECTV Sport Park</h2>

        </div><div class="clear"></div>
    	<div class="grid_12">
        	<?php View::content(); ?>
        </div>
        <div class="clear"></div>
    </div>
    <div id="footer"><p> © DIRECTV Sport Park <?php echo date('Y')?></p></div>
      <div class="container_6">
        <div id="lightbox" style="width:500px; padding:10px; margin-right:auto;margin-left:auto;font-size:20px;">
          <h3>ESTIMADOS CLIENTES</h3>
          <p>Les informamos que DIRECTV SPORT PARK no alquila balones de FUTBOL ni los mismos están incluidos en el alquiler de la cancha, sin embargo, es política de empresa “PRESTAR” un balón, siempre y cuando lo tengamos disponible y para ello se requerirá un depósito en garantía en EFECTIVO por un monto equivalente al precio del balón.  Este depósito en garantía se devolverá siempre y cuando el balón sea devuelto en las MISMAS condiciones en que se les prestó.  Agradecemos su comprensión y lamentamos los inconvenientes que esto les pueda causar.</p>
          <p><strong>Gracias.</strong></p>
        </div>
      </div>
      <script type="text/javascript" src="<?php echo PUBLIC_PATH?>javascript/jquery/jquery.min.js"></script>
      <script type="text/javascript" src="<?php echo PUBLIC_PATH?>javascript/jquery/jquery.form.tools.min.js"></script>
      <script type="text/javascript" src="<?php echo PUBLIC_PATH?>javascript/jquery/jquery.bsmselect.js"></script>
  	  <script type="text/javascript" src="<?php echo PUBLIC_PATH?>javascript/jquery/jquery.bsmselect.compatibility.js"></script>
      <script type="text/javascript" src="<?php echo PUBLIC_PATH?>javascript/jquery/jquery.lightbox.min.js"></script>
      <script type="text/javascript" src="<?php echo PUBLIC_PATH?>javascript/lib.js"></script>
      <?php View::partial('an')?>

      <?php if(Session::get('MODAL')):?>
        <script type="text/javascript">
        jQuery(document).ready(function(){

          $.lightbox($("#lightbox"));


        });
      </script>
      <?php Session::set('MODAL', FALSE)?>
    <?php endif; ?>
</body>
</html>
