<?php $key = Security::generateRSAKey(FALSE)?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>DIRECTV Sport Park</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="description" content="DIRECTV Sport PArk" />
        <meta name="keywords" content="KumbiaPHP, DIRECTV, Sport, Park"/>
        <link rel="stylesheet" type="text/css" href="/css/login.css" />
    </head>
    <body>
        <div class="wrapper">
            <h1>Pago Online</h1>
            <h2>DIRECTV Sport Park</h2>
            <div class="content">

                <div id="form_wrapper" class="form_wrapper">
                    <?php View::content()?>
                    <?php echo Form::open('login/registro', 'POST', 'class="register form"')?>
                        <h3>Registro de usuario</h3>

                        <div class="column">
                            <div>
                                <label>Nombres:</label>
                                <?php echo Form::text('info_user.first_name', "required='required'")?>
                            </div>
                            <div>
                                <label>Apellidos:</label>
                                <?php echo Form::text('info_user.last_name', "required='required'")?>
                            </div>
                            <div>
                                <label>Cédula/RIF:</label>
                                <?php echo Form::text('info_user.cedula', "required='required'")?>
                            </div>
                            <div>
                                <label>Dirección:</label>
                                <?php echo Form::text('info_user.address_1', "required='required'")?>
                            </div>
                            <div>
                                <label>Ciudad:</label>
                                <?php echo Form::text('info_user.city', "required='required'")?>
                            </div>
                            <div>
                                <label>Teléfono:</label>
                                <?php echo Form::text('info_user.phone_1', "required='required'")?>
                            </div>
                        </div>
                        <div class="column">
                            <div>
                                <label>Teléfono Celular:</label>
                                <?php echo Form::text('info_user.phone_2', "required='required'")?>
                            </div>
                            <div>
                                <label>Email:</label>
                                <?php echo Form::text('user.email', "required='required'")?>
                            </div>
                            <div>
                                <label>Nombre Usuario:</label>
                                <?php echo Form::text('user.username', "required='required'")?>
                            </div>

                            <div>
                                <label>Contraseña:</label>
                                <?php echo Form::pass('user.password', "required='required'")?>
                                <?php echo Form::hidden('user.usertype', NULL, 'user')?>
                                <?php echo $key?>
                            </div>
                            <div>
                                <label>Confirmar Contraseña:</label>
                                <?php echo Form::pass('user.password2', "required='required'")?>
                            </div>
                        </div>
                        <div class="bottom">
                            <input type="submit" value="Registrar" />
                            <a href="#" rel="login" class="linkform">¿Usted ya tiene cuenta? Ingrese aqui!</a>
                            <a href="#" rel="olvido-pass" class="linkform">¿Olvido su contraseña?</a>
                            <div class="clear"></div>
                        </div>
                    </form>

                    <?php echo Form::open('', 'POST', 'class="login active form"')?>
                        <h3>Ingresar</h3>
                        <span style="color:red"><?php echo SdAuth::getError()?></span>
                        <div>
                            <label>Usuario:</label>
                            <?php echo Form::text('user_login',"required='required'")?>
                        </div>
                        <div>
                            <label>Clave:</label>
                            <?php echo Form::pass('pass_login',"required='required'")?>
                        </div>
                        <div class="bottom">
                            <input type="submit" value="Ingresar" />
                            <a href="#" rel="register" class="linkform">¿Usted no tiene cuenta? Registrate aqui!</a>
                            <a href="#" rel="olvido-pass" class="linkform">¿Olvido su contraseña?</a>
                            <div class="clear"></div>
                            <?php echo $key ?>
                            <?php echo Form::hidden('mode', NULL, 'auth_login')?>
                        </div>
                    </form>

                    <?php echo Form::open('login/recuperar_clave', 'POST', 'class="olvido-pass form"')?>
                        <h3>Recuperar Contraseña</h3>
                        <span style="color:red"><?php echo SdAuth::getError()?></span>
                        <div>
                            <label>Correo Electrónico:</label>
                            <?php echo Form::text('correo',"required='required'")?>
                        </div>
                        <div class="bottom">
                            <input type="submit" value="Recuperar" />
                            <a href="#" rel="register" class="linkform">¿Usted no tiene cuenta? Registrate aqui!</a>
                            <div class="clear"></div>
                            <?php echo $key ?>
                        </div>
                    </form>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <!-- The JavaScript -->

        <script type="text/javascript" src="<?php echo PUBLIC_PATH?>javascript/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="<?php echo PUBLIC_PATH?>javascript/jquery/jquery.form.tools.min.js"></script>
        <script type="text/javascript">
            $(function() {
                    //the form wrapper (includes all forms)
                var $form_wrapper   = $('#form_wrapper'),
                    //the current form is the one with class active
                    $currentForm    = $form_wrapper.children('form.active'),
                    //the change form links
                    $linkform       = $form_wrapper.find('.linkform');

                //get width and height of each form and store them for later
                $form_wrapper.children('form').each(function(i){
                    var $theForm    = $(this);
                    //solve the inline display none problem when using fadeIn fadeOut
                    if(!$theForm.hasClass('active'))
                        $theForm.hide();
                    $theForm.data({
                        width   : $theForm.width(),
                        height  : $theForm.height()
                    });
                });

                //set width and height of wrapper (same of current form)
                setWrapperWidth();

                /*
                clicking a link (change form event) in the form
                makes the current form hide.
                The wrapper animates its width and height to the
                width and height of the new current form.
                After the animation, the new form is shown
                */
                $linkform.bind('click',function(e){
                    var $link   = $(this);
                    var target  = $link.attr('rel');
                    $currentForm.fadeOut(400,function(){
                        //remove class active from current form
                        $currentForm.removeClass('active');
                        //new current form
                        $currentForm= $form_wrapper.children('form.'+target);
                        //animate the wrapper
                        $form_wrapper.stop()
                                     .animate({
                                        width   : $currentForm.data('width') + 'px',
                                        height  : $currentForm.data('height') + 'px'
                                     },500,function(){
                                        //new form gets class active
                                        $currentForm.addClass('active');
                                        //show the new form
                                        $currentForm.fadeIn(400);
                                     });
                    });
                    e.preventDefault();
                });

                function setWrapperWidth(){
                    $form_wrapper.css({
                        width   : $currentForm.data('width') + 'px',
                        height  : $currentForm.data('height') + 'px'
                    });
                }

                /*
                for the demo we disabled the submit buttons
                if you submit the form, you need to check the
                which form was submited, and give the class active
                to the form you want to show
                */
                /*$form_wrapper.find('input[type="submit"]')
                             .click(function(e){
                                e.preventDefault();
                             });*/
            });
            $(".form").validator({messageClass: 'messageClass'});
            //window.onbeforeunload = function(e){return "Te quieres largar? :@";}
        </script>
        <?php View::partial('an')?>
    </body>
</html>
