<?php View::content() ?>

<?php echo Form::open('cambiar-clave/', 'POST', "class='form'")?>
    <h3>Cambiar Clave</h3>
    <div class="grid_7">
        <label>Clave Actual
            <span class="small">*</span> 
        </label>
        <?php echo Form::pass('c_actual', "required='required' data-message='Campo requerido'");?>
    </div><div class="clear"></div>
    <div class="grid_7">
        <label>Clave Nueva
            <span class="small">*</span> 
        </label>
        <?php echo Form::pass('c_nueva', "required='required' data-message='Campo requerido'");?>
    </div><div class="clear"></div>
    <div class="grid_7">
        <label>Repita Clave Nueva
            <span class="small">*</span> 
        </label>
        <?php echo Form::pass('c_r_actual', "required='required' data-message='Campo requerido'");?>
    </div><div class="clear"></div>
    <div class="alpha grid_12 buttom">
        <?php echo Form::submit('Enviar')?>
    </div><div class="clear"></div>
    
<?php echo Form::close()?>