<div class="form">
    <h3>Términos y condiciones de compra</h3>
    <p>Al hacer una compra en nuestro sistema de alquiler de canchas usted acepta
    los siguientes términos y condiciones:</p>
    
    <p>El precio reflejado en su compra es por el uso de las canchas de futsal solo por el horario reservado.</p>
    
    <p>Sólo pueden reservar personas naturales. Las personas jurídicas deberán
    comunicarse con nosotros para efectuar sus reservas y pagos.</p>
    
    <p>DIRECTV SPORT PARK sólo realizará devoluciones de dinero en aquellos casos
	en los que no fuere posible el uso de la cancha reservada por causas ajenas
	a la voluntad de las partes, y siempre que la persona que hubiere realizado
	la reserva no decidiere o prefiriese hacer uso de la reserva en otra fecha
	en la que hubiese disponibilidad.</p>
	
	<p>No se cambian las horas ni los días de las reservaciones.</p>
	
<p>Las canchas están diseñadas para ser utilizadas bajo lluvia por lo que
aquellas reservaciones que se encuentre pautadas para días en los que está
lloviendo no quedan suspendidas o anuladas, en el entendido que la persona
que la hiciere podrá hacer uso de la misma, sin que luego pudiese alegar
como una causa ajena a la voluntad de las partes para obtener el reintegro
de lo pagado, el hecho de no haber utilizado la reserva por dicho motivo.</p>

<p>La Gerencia del DIRECTV SPORT PARK podrá suspender las actividades en las
instalaciones cuando considere que existe un hecho o acontecimiento pudiese
generar inconvenientes para el desarrollo de los juegos o para las canchas,
o se ponga en riesgo la seguridad de las personas que las están utilizando.
En este supuesto, la persona que tenga la reserva pudiese elegir entre
cambiarla para otra fecha en la que hubiese disponibilidad, o que se le
reintegre el pago que realizó con ocasión de la reserva.</p>

<p>Al hacer esta compra el cliente acepta cumplir con las normas y políticas de
uso de las canchas y del DIRECTV SPORT PARK, las cuales declara conocer por
haberlas leído antes de realizar esta compra.</p>

<p>Es obligatorio presentarse en nuestras oficinas antes de hacer uso de las
canchas y presentar el recibo de compra.</p>

<p>En caso de uso de cupón de descuento de DIRECTV, es obligatorio presentar el
mismo en nuestras oficinas y el cliente debe cumplir con las normas
estipuladas para su uso que son:</p>

<ul>
    <li>Siempre se debe presentar el cupón físico en nuestras oficinas con los demás recaudos.</li>
    <li>El descuento es SOLO para clientes de DIRECTV y sus familiares DIRECTOS (hijo ,hija).</li>
    <li>En caso de ser familiar, se debe presentar copia de cédula del titular de la cuenta de DIRECTV y cédula laminada del que usa la reservación</li>
    <li>Debe estar presente en nuestras oficinas la persona que usa el CUPÓN de descuento.</li>
</ul>

<p>En caso de incumplir cualquiera de los requisitos anteriores el cliente
deberá hacer el pago de la diferencia del cupón de descuento que asciende a
veinte por ciento(20%) en nuestras oficinas ANTES de usar las canchas.</p>

<p>En caso de que la cancha alquilada o las instalaciones no estuviesen
disponibles para su uso el día de la compra realizada por causas ajenas a la
voluntad de las partes, DIRECTV SPORT PARK le notificará al cliente con al
menos 2 días de anticipación vía email y telefónica la no disposición de la
cancha o las instalaciones, pudiendo el cliente hacer una nueva reservación
para sustituir la anterior, en una fecha en la que hubiere disponibilidad, o
solicitar la devolución de lo pagado por la reservación.</p>

<p>Para el supuesto de que no se pueda conseguir una nueva fecha, o la persona
que hubiere hecho la reservación solicite la devolución de lo pagado,
DIRECTV SPORT PARK le reembolsará al cliente el monto pagado, sin ningún
otro monto a cancelar por ningún concepto, dentro de los cinco días hábiles
siguientes a través de cheque que le será entregado en las oficinas de
DIRECTV SPORT PARK.</p>

<p>Las canchas no podrán ser utilizadas para fines distintos a la práctica de
futsal.</p>
<h4 style="text-align: center;">CONTRATO DE ADHESIÓN Y EXCLUSIÓN DE RESPONSABILIDAD REBALL/PAINTBALL</h4>
<ol>
    <li> La empresa se reserva el derecho de admisión y arrendamiento de todas nuestras atracciones e instalaciones.</li>
    <li>Queda terminantemente prohibido ingresar a nuestras instalaciones con armas de fuego o cualquier tipo de armas blancas.</li>
    <li>Está prohibido el uso de las instalaciones de Paintball/Reball a menores de edad sin la presencia de sus padres o representantes responsables.
    </li>
    <li>Está prohibido usar nuestra cancha bajo los efectos del alcohol o cualquier sustancia psicotrópica o estupefaciente.</li>
    <li> El árbitro es la autoridad máxima en dentro de la cancha.</li>
    <li>Queda terminantemente prohibido quitarse la careta dentro de la cancha.</li>
    <li>Está terminantemente prohibido dispararle a otra persona a menos de 5 metros de distancia.</li>
    <li>Estatura mínima de jugador 1.35mts</li>
    <li>Al hacer uso del paintball está aceptando cumplir todas las normas del centro deportivo DIRECTV SPORT PARK.</li>
    <li>Queda terminantemente prohibido ingresar al complejo deportivo con bebidas y alimentos.</li>
    <li>La cancha está diseñada para un máximo de 10 jugadores al mismo tiempo.</li>
    <li>Queda prohibido el contacto físico y el uso de palabras obscenas.</li>
    <li>Inversiones Futpark no se hace responsable por los objetos, bienes, equipos, marcadores (pistolas de Paintball/Reball), y herramientas de los jugadores particulares usadas en nuestras canchas</li>
    <li>Los usuarios al igual que los padres de aquellos menores, de menores de edad por ningún concepto, responsabilizamos a la empresa ni a sus empleados por los accidentes que pudieran ocasionar derivados del mal uso, impericia, negligencia, imprudencia u omisión de los usuarios al no acatar las normas y medidas de seguridad aquí señaladas.</li>
    <li>Queda terminantemente prohibido quitarse la máscara o el peto de protección en dentro de la cancha.</li>
</ol>
</div>