<?php View::content() ?>
<?php 
    //ISO del Dia
    $diaID = strftime("%u", strtotime($fecha_reservacion));
    //fecha de la reservacion
    $fecha = strftime("%Y-%m-%d", strtotime($fecha_reservacion));
	$canchas = Load::model('cancha')->find("order: id asc");
?>
<?php echo Form::open('alquilar/disponibilidad', 'POST', "class='form'")?>
	<h3>Reservaciones para el día <?php echo strftime("%A %e de %B del %Y", strtotime($fecha_reservacion))?></h3>
	<table id="hor-minimalist-b" summary="Canchas" class="table">
	    <thead>
	    	<tr>
	    		<th>Hora/Canchas</th>
	        	<?php foreach ($canchas as $cancha):?>
					<th><img src="/img/<?php echo $cancha->img?>" alt="<? echo $cancha->nombre?>" width="100" height="100" border="0" /></th>
				<?php endforeach;?>
	        </tr>
	    </thead>
	    <tbody>
	    	
	    	<tr>
	    		<?php foreach(Load::model('hora')->find() as $hora):?>
				<td><?php echo $hora->hora?></td>
                <?php foreach ($canchas as $cancha):?>
                	<?php if(Load::model('promocion')->hasPromocion($cancha->id, $diaID, $hora->id)):?>
	                    <?php if(Load::model('reservacion')->isReservado($hora->id, $diaID, $fecha, $cancha->id)):?>
	                        <td><img src="/img/reservado.png" width="40" height="40" /></td>
	                    <?php else:?>
	                       <?php if(strtotime($fecha.$hora->hora_time) > strtotime(date('Y-m-d H:i:s'))):?>
	                           <td><img class="img-reservacion" src="/img/disponible.png" width="40" height="40" />
	                           <?php echo Form::check("check[$cancha->id][$hora->id]", $hora->id, "class='hidden'")?>
	                        </td>
	                       <?php else:?>
	                            <td><img src="/img/tiempo_fuera.png" alt="Ya no puedes alquilar para esta hora" width="40" height="40" border="0" /></td>
	                       <?php endif;?>
	                    <?php endif; ?>
                    <?php else:?>
                    	<td><strong>No Tiene Promoción</strong></td>
                    <?php endif;?>
                    
                <?php endforeach;?>
	        </tr>
			<?php endforeach;?>
			<tr>
				<td colspan="2">
					<img src="/img/tiempo_fuera.png" alt="Ya no puedes alquilar para esta hora" width="40" height="40" border="0" />
					<p style="text-align:center">No disponible</p>
				</td>
				<td colspan="2">
					<img src="/img/reservado.png" alt="Cancha Ocupada" width="40" height="40" border="0" />
					<p style="text-align:center">Cancha Reservada</p>
				</td>
				<td colspan="2">
					<img src="/img/disponible.png" alt="Cancha Disponible" width="40" height="40" border="0" />
					<p style="text-align:center">Cancha Disponible</p>
				</td>
			</tr>
	    </tbody>
	</table>
	<?php echo Form::hidden('reservacion.fecha_reservacion', NULL, $fecha)?>
	<?php echo Form::hidden('reservacion.dia', NULL, $diaID)?>
    <div class="alpha grid_12 buttom">
        <?php echo Form::submit('Enviar')?>
    </div><div class="clear"></div>
<?php echo Form::close()?>
