
    <h3 style="margin:0px;padding:20px 30px 20px 30px; background-color:#164978; color:#fff; font-size:25px; border-bottom:1px solid #ddd;">RECIBO</h3>

        <span style="padding-top:12px;display:block;font-weight:bold;">IDENTIFICADOR: <?php echo $orderID?></span>
        <span style="padding-top:12px;display:block;font-weight:bold;">FECHA RESERVACIÓN: <?php echo strftime("%d/%m/%Y", strtotime($reservacion[0]->fecha_reservacion ))?></span>
        <span style="padding-top:12px;display:block;font-weight:bold;">NÚMERO DE REFERENCIA BANCO: <?php echo $refnum ?></span><br />

    <table style="font-size: 12px;background: #fff;width: 100%;border-collapse: collapse;text-align: left;line-height: 1.6em;" id="hor-minimalist-b" summary="Canchas">
        <thead>
            <tr>
                <th style="font-size: 14px;font-weight: normal;color: #039;padding: 10px 8px;border-bottom: 2px solid #6678b1;">Cancha</th>
                <th style="font-size: 14px;font-weight: normal;color: #039;padding: 10px 8px;border-bottom: 2px solid #6678b1;">Hora</th>
                <th style="font-size: 14px;font-weight: normal;color: #039;padding: 10px 8px;border-bottom: 2px solid #6678b1;">Precio</th>
            </tr>
        </thead>
        <?php $total = $descuento = 0?>
        <tbody>
            <?php foreach($reservacion as $item):
              if ($item->precio != 0) :
                if ($item->precio != 900) :

                  ?>
            <tr>
                <td style="border-bottom: 1px solid #ccc;color: #669;padding: 6px 8px;"><?php echo $item->nombre_cancha?></td>
                <td style="border-bottom: 1px solid #ccc;color: #669;padding: 6px 8px;"><?php echo $item->hora ?></td>
                <td style="border-bottom: 1px solid #ccc;color: #669;padding: 6px 8px;">Bs. F <?php echo number_format($item->precio, 2, ',', '.');endif;endif; ?></td>
                <?php
                if ($item->precio != 0) :
                  if ($item->precio != 900) :
                    $total += $item->precio;
                  endif;
                endif;

                    ?>

            </tr>
            <?php endforeach;?>
            <?php if($cupon=='si'):?>
                <?php $descuento = ($total*0.20);?>
                <tr class="total sel"><td colspan="2" style="text-align: right;">20% descuento cupón DIRECTV:</td><td>Bs. F <strong><?php echo number_format($descuento, 2, ',', '.') ?></strong></td></tr>
            <?php endif?>
            <tr><td colspan="2" style="text-align: right; border-bottom: 1px solid #ccc;color: #669;padding: 6px 8px;">I.V.A.:</td><td style="border-bottom: 1px solid #ccc;color: #669;padding: 6px 8px;">Bs. F <strong><?php echo number_format((($total-$descuento)*0.12), 2, ',', '.') ?></strong></td></tr>
            <tr><td colspan="2" style="text-align: right; border-bottom: 1px solid #ccc;color: #669;padding: 6px 8px;">Total a pagar:</td><td style="border-bottom: 1px solid #ccc;color: #669;padding: 6px 8px;">Bs. F <strong><?php echo number_format($total-$descuento, 2, ',', '.') ?></strong></td></tr>
        </tbody>
    </table>

    <span style="padding-top:12px;display:block;font-weight:bold;">IMPORTANTE</span>
    <ul>
        <li>FAVOR IMPRIMIR ESTE RECIBO, EL CUAL ES <span style="padding-top:12px;font-weight:bold;text-decoration: underline;">INDISPENSABLE PRESENTARLO</span> EN EL PARQUE PARA HACER USO DE SU RESERVA.</li>
        <li>RECUERDE QUE SI UTILIZÓ UN CUPÓN DE DESCUENTO ES OBLIGATORIO PRESENTARLO, DE LO CONTRARIO SE LE COBRARÁ EL 20% DE DESCUENTO OTROGADO EN ESTA COMPRA.</li>
        <li>EL CUPÓN DEBE TENER EL MISMO NÚMERO QUE EL APLICADO EN LA COMPRA Y SI ES DE UN FAMILIAR (PADRE O MADRE) DEBERÁ PRESENTAR COPIA DE LA CÉDULA DE IDENTIDAD, RECUERDE QUE EL CUPÓN <span style="padding-top:12px;font-weight:bold;text-decoration: underline;">ES SÓLO</span> PARA CLIENTES DE DIRECTV Y SUS FAMILIARES DIRECTOS.</li>
        <li>AL PRESENTAR ESTE RECIBO, SE LE ENTREGARÁ LA CORRESPONDIENTE FACTURA DE SU COMPRA.</li>
    </ul>

--<br />
DIRECTV Sport Park.<br />
http://sportpark.com.ve<br />
