<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>DIRECTV Sport Park</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
      }
    </style>
  </head>

  <body>

    

    <div class="container-fluid">
      <div class="sidebar">
        
      </div>
      <div class="content">
        <!-- Example row of columns -->
        <div class="row">
          <?php View::content()?>
        </div>

        <footer>
          <p>&copy; Company 2011</p>

        </footer>
      </div>
    </div>

  </body>
</html>