<?php $key = Security::generateRSAKey(FALSE)?>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>DirecTV SportPark</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
     <link href="/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
      }
    </style>

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">

    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  </head>

  <body>

    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="#">DireggcTV SportPark</a>

          <ul class="nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
          <form class="pull-right" method="post" action="/">
              <input type="text" name="user_login" placeholder="Usuario" class="input-small" required="required" />
              <input type="password" name="pass_login" placeholder="Clave" class="input-small" required="required" />
              <?php echo $key ?>
              <?php echo Form::hidden('mode', NULL, 'auth_login')?>
              <button type="submit" class="btn">Entrar</button>
          </form>
        </div>
      </div>

    </div>

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Reserva en Línea!</h1>
        <p>Donde podrás reservar la cancha para el día y la hora de.</p>
        <p><a class="btn primary large">Learn more &raquo;</a><a class="btn danger large">Registrate &raquo;</a></p>

      </div>

	      <!-- Example row of columns -->
	      <div class="row">
	        <?php View::content()?>
	      </div>

      <footer>
        <p>&copy; DirecTV SportPark 2011</p>

      </footer>

    </div> <!-- /container -->

  </body>
</html>
