<div class="form">
    <h3>Términos y condiciones de compra</h3>
    <p>Al hacer una compra en nuestro sistema de alquiler de canchas usted acepta
    los siguientes términos y condiciones:</p>
    
    <p>El precio reflejado en su compra es por el uso de las canchas de futsal solo por el horario reservado.</p>
    
    <p>Sólo pueden reservar personas naturales. Las personas jurídicas deberán
    comunicarse con nosotros para efectuar sus reservas y pagos.</p>
    
    <p>DIRECTV SPORT PARK sólo realizará devoluciones de dinero en aquellos casos
	en los que no fuere posible el uso de la cancha reservada por causas ajenas
	a la voluntad de las partes, y siempre que la persona que hubiere realizado
	la reserva no decidiere o prefiriese hacer uso de la reserva en otra fecha
	en la que hubiese disponibilidad.</p>
	
	<p>No se cambian las horas ni los días de las reservaciones.</p>
	
<p>Las canchas están diseñadas para ser utilizadas bajo lluvia por lo que
aquellas reservaciones que se encuentre pautadas para días en los que está
lloviendo no quedan suspendidas o anuladas, en el entendido que la persona
que la hiciere podrá hacer uso de la misma, sin que luego pudiese alegar
como una causa ajena a la voluntad de las partes para obtener el reintegro
de lo pagado, el hecho de no haber utilizado la reserva por dicho motivo.</p>

<p>La Gerencia del DIRECTV SPORT PARK podrá suspender las actividades en las
instalaciones cuando considere que existe un hecho o acontecimiento pudiese
generar inconvenientes para el desarrollo de los juegos o para las canchas,
o se ponga en riesgo la seguridad de las personas que las están utilizando.
En este supuesto, la persona que tenga la reserva pudiese elegir entre
cambiarla para otra fecha en la que hubiese disponibilidad, o que se le
reintegre el pago que realizó con ocasión de la reserva.</p>

<p>Al hacer esta compra el cliente acepta cumplir con las normas y políticas de
uso de las canchas y del DIRECTV SPORT PARK, las cuales declara conocer por
haberlas leído antes de realizar esta compra.</p>

<p>Es obligatorio presentarse en nuestras oficinas antes de hacer uso de las
canchas y presentar el recibo de compra.</p>

<p>En caso de uso de cupón de descuento de DIRECTV, es obligatorio presentar el
mismo en nuestras oficinas y el cliente debe cumplir con las normas
estipuladas para su uso que son:</p>

<ul>
    <li>Siempre se debe presentar el cupón físico en nuestras oficinas con los demás recaudos.</li>
    <li>El descuento es SOLO para clientes de DIRECTV y sus familiares DIRECTOS (hijo ,hija).</li>
    <li>En caso de ser familiar, se debe presentar copia de cédula del titular de la cuenta de DIRECTV y cédula laminada del que usa la reservación</li>
    <li>Debe estar presente en nuestras oficinas la persona que usa el CUPÓN de descuento.</li>
</ul>

<p>En caso de incumplir cualquiera de los requisitos anteriores el cliente
deberá hacer el pago de la diferencia del cupón de descuento que asciende a
veinte por ciento(20%) en nuestras oficinas ANTES de usar las canchas.</p>

<p>En caso de que la cancha alquilada o las instalaciones no estuviesen
disponibles para su uso el día de la compra realizada por causas ajenas a la
voluntad de las partes, DIRECTV SPORT PARK le notificará al cliente con al
menos 2 días de anticipación vía email y telefónica la no disposición de la
cancha o las instalaciones, pudiendo el cliente hacer una nueva reservación
para sustituir la anterior, en una fecha en la que hubiere disponibilidad, o
solicitar la devolución de lo pagado por la reservación.</p>

<p>Para el supuesto de que no se pueda conseguir una nueva fecha, o la persona
que hubiere hecho la reservación solicite la devolución de lo pagado,
DIRECTV SPORT PARK le reembolsará al cliente el monto pagado, sin ningún
otro monto a cancelar por ningún concepto, dentro de los cinco días hábiles
siguientes a través de cheque que le será entregado en las oficinas de
DIRECTV SPORT PARK.</p>

<p>Las canchas no podrán ser utilizadas para fines distintos a la práctica de
futsal.</p>
</div>