/* 960 */
.container_12,.container_16{margin-left:auto;margin-right:auto;width:960px}.grid_1,.grid_2,.grid_3,.grid_4,.grid_5,.grid_6,.grid_7,.grid_8,.grid_9,.grid_10,.grid_11,.grid_12,.grid_13,.grid_14,.grid_15,.grid_16{display:inline;float:left;margin-left:10px;margin-right:10px}.container_12 .grid_3,.container_16 .grid_4{width:220px}.container_12 .grid_6,.container_16 .grid_8{width:460px}.container_12 .grid_9,.container_16 .grid_12{width:700px}.container_12 .grid_12,.container_16 .grid_16{width:940px}.alpha{margin-left:0}.omega{margin-right:0}.container_12 .grid_1{width:60px}.container_12 .grid_2{width:140px}.container_12 .grid_4{width:300px}.container_12 .grid_5{width:380px}.container_12 .grid_7{width:540px}.container_12 .grid_8{width:620px}.container_12 .grid_10{width:780px}.container_12 .grid_11{width:860px}.container_16 .grid_1{width:40px}.container_16 .grid_2{width:100px}.container_16 .grid_3{width:160px}.container_16 .grid_5{width:280px}.container_16 .grid_6{width:340px}.container_16 .grid_7{width:400px}.container_16 .grid_9{width:520px}.container_16 .grid_10{width:580px}.container_16 .grid_11{width:640px}.container_16 .grid_13{width:760px}.container_16 .grid_14{width:820px}.container_16 .grid_15{width:880px}.container_12 .prefix_3,.container_16 .prefix_4{padding-left:240px}.container_12 .prefix_6,.container_16 .prefix_8{padding-left:480px}.container_12 .prefix_9,.container_16 .prefix_12{padding-left:720px}.container_12 .prefix_1{padding-left:80px}.container_12 .prefix_2{padding-left:160px}.container_12 .prefix_4{padding-left:320px}.container_12 .prefix_5{padding-left:400px}.container_12 .prefix_7{padding-left:560px}.container_12 .prefix_8{padding-left:640px}.container_12 .prefix_10{padding-left:800px}.container_12 .prefix_11{padding-left:880px}.container_16 .prefix_1{padding-left:60px}.container_16 .prefix_2{padding-left:120px}.container_16 .prefix_3{padding-left:180px}.container_16 .prefix_5{padding-left:300px}.container_16 .prefix_6{padding-left:360px}.container_16 .prefix_7{padding-left:420px}.container_16 .prefix_9{padding-left:540px}.container_16 .prefix_10{padding-left:600px}.container_16 .prefix_11{padding-left:660px}.container_16 .prefix_13{padding-left:780px}.container_16 .prefix_14{padding-left:840px}.container_16 .prefix_15{padding-left:900px}.container_12 .suffix_3,.container_16 .suffix_4{padding-right:240px}.container_12 .suffix_6,.container_16 .suffix_8{padding-right:480px}.container_12 .suffix_9,.container_16 .suffix_12{padding-right:720px}.container_12 .suffix_1{padding-right:80px}.container_12 .suffix_2{padding-right:160px}.container_12 .suffix_4{padding-right:320px}.container_12 .suffix_5{padding-right:400px}.container_12 .suffix_7{padding-right:560px}.container_12 .suffix_8{padding-right:640px}.container_12 .suffix_10{padding-right:800px}.container_12 .suffix_11{padding-right:880px}.container_16 .suffix_1{padding-right:60px}.container_16 .suffix_2{padding-right:120px}.container_16 .suffix_3{padding-right:180px}.container_16 .suffix_5{padding-right:300px}.container_16 .suffix_6{padding-right:360px}.container_16 .suffix_7{padding-right:420px}.container_16 .suffix_9{padding-right:540px}.container_16 .suffix_10{padding-right:600px}.container_16 .suffix_11{padding-right:660px}.container_16 .suffix_13{padding-right:780px}.container_16 .suffix_14{padding-right:840px}.container_16 .suffix_15{padding-right:900px}.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}.clearfix:after{clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0}.clearfix{display:inline-block}* html .clearfix{height:1%}.clearfix{display:block}
body {
    min-width:980px /*Funciona para todos los navegadores pero para IE6 no*/;
    _width:expression(document.documentElement.clientWidth < 980 ? "980px" : "auto") /*Funciona solo para IE6*/;
    margin:0;
    height: 100%;
    color: #333333;
    /* background: #fff !important; /* Firefox y los demás */
    /* *background: #000 !important;  /* Sólo IE7 */
    /* *background: #ccc; /* Sólo IE6 */
    /* height: 15px; /* Para todos los Browsers */
    /* #height: 20px; /*Para Internet Explorer */
    /*_height: 25px; /* Para Internet Explorer 6 */
    /* *html funciona para cierto navegador averiguar*/
    font-family:"Trebuchet MS", "Myriad Pro", Arial, sans-serif;
	font-size: 14px;
}
h1{font-size:56px;padding:50px 0px 0px 0px;margin:0px}
h2{font-size:20px; padding:0px 0px 40px 0px; margin:0px; color:#aaa;}
/* Formatea los mensajes Flash::xxx() de KumbiaPHP */
.flash {
	border: 1px solid;
	margin: 5px 0px;
	min-height: 32px;
	padding:0px 10px 0px 50px;
	background-repeat: no-repeat;
	background-position: 10px center;
	 -moz-box-shadow:1px 1px 7px #FFBABA;
    -webkit-box-shadow:1px 1px 7px #FFBABA;
    box-shadow:1px 1px 7px #FFBABA;
}

.error {
	color: #D8000C;
	background-color: #FFBABA;
	background-image: url('../img/default/error.png');
}

.info {
	color: #00529B;
	background-color: #BDE5F8;
	background-image: url('../img/default/info.png');
}

.valid {
	color: #4F8A10;
	background-color: #DFF2BF;
	background-image:url('../img/default/valid.png');
}
.warning {
	color: #9F6000;
	background-color: #FEEFB3;
	background-image: url('../img/default/warning.png');
}
.messageClass {
    /* supply height to ensure consistent positioning for every browser */
    height:15px;
    background-color:#FFFE36;
    border:1px solid #E1E16D;
    font-size:11px;
    color:#000;
    padding:3px 10px;
    margin-left:-2px;

    /* CSS3 spicing for mozilla and webkit */
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius-bottomleft:0;
    -moz-border-radius-topleft:0;
    -webkit-border-bottom-left-radius:0;
    -webkit-border-top-left-radius:0;

    -moz-box-shadow:0 0 6px #ddd;
    -webkit-box-shadow:0 0 6px #ddd;
}
.messageClass p {
    margin:0;       
}

.highlight {
	background: #FFFFDF;
}
.form{
    background:#fff;
    border:1px solid #ddd;
    margin:0 auto;
    -moz-box-shadow:1px 1px 7px #ccc;
    -webkit-box-shadow:1px 1px 7px #ccc;
    box-shadow:1px 1px 7px #ccc;
    font: 12px;
    color: #000;
}
.form p,.form li{margin-left: 30px; margin-right: 30px}
.form h3 {margin:0px;padding:20px 30px 20px 30px; background-color:#164978; color:#fff; font-size:25px; border-bottom:1px solid #ddd;}
.form .buttom {background-color:#164978;border-top:1px solid #ddd;margin:20px 0px 0px 0px;clear:both;color:#fff;text-shadow:1px 1px 1px #000;}
.form label, .form span{padding-top:12px;display:block;font-weight:bold;}
#terms label {float: left;}
#terms label {display: block;font-size: 11px; padding: 0px 5px 0px 0px;}
#terms a {display: block; font-size: 10px}
.form input[type="submit"], .form input[type="button"] {
    background: #e3e3e3;
    border: 1px solid #ccc;
    color: #333;
    font-family: "Trebuchet MS", "Myriad Pro", sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 0 9px;
    text-align: center;
    width: 150px;
    cursor:pointer;
    float:right;
    margin:15px 20px 10px 10px;
    text-shadow: 0px 1px 0px #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0px 0px 2px #fff inset;
    -webkit-box-shadow: 0px 0px 2px #fff inset;
    box-shadow: 0px 0px 2px #fff inset;
}
 .form .small{color:red;font-weight:bold; display: inline;}
 .form input,  .form select,.form textarea{
     padding:5px 2px;
     border-color:#CCCCCC #999999 #999999 #CCCCCC;
     border-style:solid;
     border-width:1px;
     /*width:300px;*/
     width: 90%;
     margin:2px 0 10px 0px;
     box-shadow: 1px 1px 0 #E7E7E7;   
     -moz-box-shadow: 1px 1px 0 #E7E7E7;
     -webkit-box-shadow: 1px 1px 0 #E7E7E7;
 }
 .form textarea {width: auto;}
 .form input[type=checkbox]{width: auto;}
 .form select{background: repeat scroll 0 0 #FFFFFF;}
 .form .w-200 {width: 180px} 
 .ico-visa, .ico-master {background-position: right center;  background-repeat: no-repeat; padding-right: 45px;}
    .ico-visa {background-image: url("/img/logo_ccVisa.gif");}
    .ico-master{background-image: url("/img/logo_ccMC.gif");}
 
table {
	line-height: 1.6em;
}
#hor-minimalist-b{font-size: 12px;background: #fff;width: 100%;border-collapse: collapse;text-align: left;}
#hor-minimalist-b th {font-size: 14px;font-weight: normal;color: #039;padding: 10px 8px;border-bottom: 2px solid #6678b1;text-align:center;}
#hor-minimalist-b td{border-bottom: 1px solid #ccc;color: #669;padding: 10px 8px; text-align:center;}
#hor-minimalist-b tbody tr:hover td{color: #009;}
#hor-minimalist-b .sel{background-color: #EEEEEE}
#hor-minimalist-b .precio, #hor-minimalist-b .total {text-align: center}
#hor-minimalist-b .total {border-top: 3px solid #ccc;color: #669;padding: 6px 8px;}
#hor-minimalist-b td > img, #hor-minimalist-b th > img {display: block;margin: auto;}


#hor-minimalist-c{font-size: 12px;background: #fff;width: 90%;border-collapse: collapse;text-align: left;}
#hor-minimalist-c th {font-size: 14px;font-weight: normal;color: #039;padding: 10px 8px;border-bottom: 2px solid #6678b1;text-align:center;}
#hor-minimalist-c td{color: #669;padding: 10px 8px; text-align:center;}
#hor-minimalist-c tbody tr:hover td{color: #009;}
#hor-minimalist-c .sel{background-color: #EEEEEE}
#hor-minimalist-c .precio, #hor-minimalist-b .total {text-align: center}
#hor-minimalist-c .total {border-top: 3px solid #ccc;color: #669;padding: 6px 8px;}
#hor-minimalist-c td > img, #hor-minimalist-b th > img {display: block;margin: auto;}

.pre-order {font-size:17px !important;}
.bsmContainer {
  /* container that surrounds entire bsmSelect widget */
}
.hidden {display: none;}
.bsmSelect {
  /* the newly created regular 'select' */
  display: inline;
}

.bsmOptionDisabled {
  /* disabled options in new select */
  color: #999;
}

.bsmHighlight {
  /* the highlight span */
  float: right;
  padding: 0;
  margin: 0 0 0 1em;
}

.bsmList {
  /* html list that contains selected items */
  margin: 0.25em 0 1em 0;
  position: relative;
  display: block;
  padding-left: 0;
  list-style: none;
}

.bsmListItem {
  /* li item from the html list above */
  position: relative;
  margin-left: 0;
  padding-left: 0;
  list-style: none;
  background: #ddd;
  border: 1px solid #bbb;
  width: 100%;
  margin: 0 0 -1px 0;
  line-height: 1em;
}

.bsmListItem:hover {
  background-color: #e5e5e5;
}

.bsmListItemLabel {
  /* this is a span that surrounds the text in the item, except for the remove link */
  padding: 5px;
  display: block;
}

.bsmListSortable .bsmListItemLabel {
  cursor: move;
}

.bsmListItemRemove {
  /* the remove link in each list item */
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px;
}

/* For the details, see: http://flowplayer.org/tools/dateinput/index.html#skinning */

/* the input field */
.form .date {
	border:1px solid #ccc;
	font-size:18px;
	padding:4px;
	text-align:center;
	width:90%;
	
	-moz-box-shadow:0 0 10px #eee inset;
	-webkit-box-shadow:0 0 10px #eee inset;
}

/* calendar root element */
#calroot {
	/* place on top of other elements. set a higher value if nessessary */
	z-index:10000;
	
	margin-top:-1px;
	width:198px;
	padding:2px;
	background-color:#fff;
	font-size:11px;
	border:1px solid #ccc;
	
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	
	-moz-box-shadow: 0 0 15px #666;
	-webkit-box-shadow: 0 0 15px #666;	
}

/* head. contains title, prev/next month controls and possible month/year selectors */
#calhead {	
	padding:2px 0;
	height:22px;
} 

#caltitle {
	font-size:14px;
	color:#0150D1;	
	float:left;
	text-align:center;
	width:155px;
	line-height:20px;
	text-shadow:0 1px 0 #ddd;
}

#calnext, #calprev {
	display:block;
	width:20px;
	height:20px;
	background:transparent url(/img/prev.gif) no-repeat scroll center center;
	float:left;
	cursor:pointer;
}

#calnext {
	background-image:url(/img/next.gif);
	float:right;
}

#calprev.caldisabled, #calnext.caldisabled {
	visibility:hidden;	
}

/* year/month selector */
#caltitle select {
	font-size:10px;	
}

/* names of the days */
#caldays {
	height:14px;
	border-bottom:1px solid #ddd;
}

#caldays span {
	display:block;
	float:left;
	width:28px;
	text-align:center;
}

/* container for weeks */
#calweeks {
	background-color:#fff;
	margin-top:4px;
}

/* single week */
.calweek {
	clear:left;
	height:22px;
}

/* single day */
.calweek a {
	display:block;
	float:left;
	width:27px;
	height:20px;
	text-decoration:none;
	font-size:11px;
	margin-left:1px;
	text-align:center;
	line-height:20px;
	color:#666;
	-moz-border-radius:3px;
	-webkit-border-radius:3px; 		
} 

/* different states */
.calweek a:hover, .calfocus {
	background-color:#ddd;
}

/* sunday */
a.calsun {
	color:red;		
}

/* offmonth day */
a.caloff {
	color:#ccc;		
}

a.caloff:hover {
	background-color:rgb(245, 245, 250);		
}


/* unselecteble day */
a.caldisabled {
	background-color:#efefef !important;
	color:#ccc	!important;
	cursor:default;
}

/* current day */
#calcurrent {
	background-color:#498CE2;
	color:#fff;
}

/* today */
#caltoday {
	background-color:#333;
	color:#fff;
}

/*Head*/
#nav {
    border-bottom:1px solid #3B5998;
    background:#6D84B4;
    padding:10px 20px;
    position:fixed;
    top:0;
    left:0;
    z-index:2000;
    width:100%;
}
a.menu {
    background:url("/img/sprite.gif") repeat-x scroll 0 -48px transparent;
    border:1px solid #3B5998;
    color:#FFFFFF;
    display:block;
    float:left;
    margin:0 10px 0 0;
    padding:5px 10px;
    text-decoration:none;
    font-size: 62.5%;
}
a.menu:hover {text-decoration:underline;}

a.green {background:url("/img/sprite.gif") repeat-x scroll 0 -96px transparent;}
a.white {background:url("/img/sprite.gif") repeat-x scroll 0 0px transparent;color: #000}

.menu span{padding: 0;}
div#footer{ background:url(/img/footeer.jpg) repeat-x top; width:100%;text-align:center; margin-top:14px;padding-top:15px;height:50px;font-weight:bold;}
div#footer p{margin:0 auto;padding:5px 10px; font-size: 10px; width: 960px}
.modal {
        background-color:#fff;
        display:none;
        width:450px;
        padding:15px;
        text-align:left;
        border:2px solid #6678b1;
        opacity:0.8;
        -moz-border-radius:6px;
        -webkit-border-radius:6px;
        -moz-box-shadow: 0 0 50px #ccc;
        -webkit-box-shadow: 0 0 50px #ccc;
    }
    
    .modal h3 {
        background:url(/img/ico/info.png) 0 50% no-repeat;
        margin:0px;
        padding:10px 0 10px 45px;
        border-bottom:1px solid #6678b1;
        font-size:20px;
    }
    
.paginator{margin: 20px 10px 10px}




