<?php View::content()?>
<?php echo Form::open('', 'POST', "class='form'")?>
    
<table class="bordered-table">

		<thead><tr>
			<th><a style="
				
				 background-color: #0064cd;
    background-image: -moz-linear-gradient(center top , #049cdb, #0064cd);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
				-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #e6e6e6;
    background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
    background-repeat: no-repeat;
    border-color: #ccc #ccc #bbb;
    border-image: none;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    line-height: normal;
    padding: 5px 14px 6px;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    transition: all 0.1s linear 0s;
				text-decoration: none;
				
				" href="http://pago-online.sportpark.com.ve/admin/promocion/nuevo">Nuevo</a></th>
			<th><a style="
				
				 background-color: #0064cd;
    background-image: -moz-linear-gradient(center top , #049cdb, #0064cd);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
				-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #e6e6e6;
    background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
    background-repeat: no-repeat;
    border-color: #ccc #ccc #bbb;
    border-image: none;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    line-height: normal;
    padding: 5px 14px 6px;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    transition: all 0.1s linear 0s;
				text-decoration: none;
				
				" href="http://pago-online.sportpark.com.ve/admin/promocion/listar">Listar</a></th>
			
			</tr></thead>
			
		</table>
<h3>Agregar Precios</h3>
	<div class="grid_7">
		<label for="paciente_cedula">Nombre
        	<span class="small">*</span> 
		</label>
        <?php echo Form::text('promocion.nombre')?>
    </div><div class="clear"></div>
    <div class="grid_4">
		<label for="paciente_cedula">Precio
        	<span class="small">*</span> 
		</label>
        <?php echo Form::text('promocion.precio')?>
    </div>
    <div class="prefix_1 grid_4">
		<label for="paciente_cedula">Cancha
        	<span class="small">*</span> 
		</label>
        <?php echo Form::selectMulti('promocion_cancha', $canchas)?>
    </div>
    <div class="clear"></div>
    <div class="grid_4">
		<label for="promocion_hora_hora_id">Hora
        	<span class="small">*</span> 
		</label>
        <?php echo Form::selectMulti('promocion_hora', $horas, NULL, "title='Seleccione...'");?>
    </div>
    <div class="prefix_1 grid_4">
		<label for="promocion_hora_hora_id">Días
        	<span class="small">*</span> 
		</label>
        <?php echo Form::selectMulti('promocion_dia', $dias, NULL, "title='Seleccione...'");?>
    </div><div class="clear"></div>
    <div class="grid_7">
		<label for="paciente_cedula">Estatus
        	<span class="small">*</span> 
		</label>
        <?php echo Form::select('promocion.estatus', array(''=>'Seleccione...', '1'=>'Activo', '2'=>'Inactivo'))?>
    </div><div class="clear"></div>
    
    <div class="grid_12 alpha buttom">
        <?php echo Form::submit('Enviar')?>
        <?php echo Form::hidden('promocion.id')?>
    </div><div class="clear"></div>
    
<?php echo Form::close()?>