<div class="span16">
    <?php View::content(); ?>
    <h1>Promociones</span></h1>
    <?php if ($promocion) : ?>
		<table class="bordered-table">

		<thead><tr>
			<th><a class="btn primary" href="http://pago-online.sportpark.com.ve/admin/promocion/nuevo">Nuevo</a></th>
			
			</tr></thead>
			
		</table>
        <table class="bordered-table">
            <thead><tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Acciones</th>
                </tr></thead>
            <tbody>
                <?php foreach ($promocion as $item) : ?>
                    <tr>
                        <td><?php echo $item->id ?></td>
                        <td><?php echo $item->nombre ?></td>
                        <td><?php echo $item->precio ?></td>
                        <td>
                            <?php echo Html::linkAction("editar/$item->id/", 'Editar', 'class="btn primary"') ?>
                            <?php //echo Html::linkAction("borrar/$item->id/", 'Borrar', 'class="btn danger"') ?>
                        </td>
                    </tr>
                <?php endforeach ?>
            </tbody>
        </table>
    <?php else : // Si no hay items?>
    <h2 class="btn">No hay ningún registro</h2>
    <?php endif ?>    
</div>
