
    <h3>Información</h3>
    <p>IDENTIFICADOR: <strong><?php echo $alquiler->id?></strong></p>
    <p>CUPÓN: <?php if($alquiler->cupon){echo $alquiler->cupon;}else{echo 'No';}?></p>
    <p>FECHA RESERVACIÓN: <?php echo strftime("%d/%m/%Y", strtotime($reservacion[0]->fecha_reservacion ))?></p>
    <p>RESPONSABLE: <?php echo $alquiler->name?></p>
    <table id="hor-minimalist-b" summary="Canchas">
        <thead>
            <tr>
                <th>Cancha</th>
                <th>Hora</th>
            </tr>
        </thead>

        <tbody>
            <?php

            $i = "h";
            $h = "h";

            foreach($reservacion as $item):
            if ($i != $item->nombre_cancha or $h !=   $item->hora): ?>
            <tr>
                <td><?php echo $item->nombre_cancha?></td>
                <td><?php echo $item->hora ?></td>
            </tr>
            <?php
            $i = $item->nombre_cancha;
            $h = $item->hora;
            endif;
           endforeach;?>
        </tbody>
    </table>
