 <?php View::content() ?>
<?php
$date= date('N', strtotime($fecha_reservacion));
//echo $date;
    //ISO del Dia
    $diaID = strftime("%u", strtotime($fecha_reservacion));
    //fecha de la reservacion
    $fecha = strftime("%Y-%m-%d", strtotime($fecha_reservacion));
	$canchas = Load::model('cancha')->find("order: id asc");

	$horas = Load::model('horas')->find();
	$manana = [];
	$tarde = [];
	$noche = [];
  if ($date == 7) {
    for ($i=1; $i <10 ; $i++) {
      array_push($manana, $horas[$i]);
    }
    for ($i=10; $i <19 ; $i++) {
      array_push($tarde, $horas[$i]);
    }
    for ($i=19; $i <22 ; $i++) {
      array_push($noche, $horas[$i]);
    }
  }
  else if ($date == 6) {
    for ($i=1; $i <10 ; $i++) {
      array_push($manana, $horas[$i]);
    }
    for ($i=10; $i <19 ; $i++) {
      array_push($tarde, $horas[$i]);
    }
    for ($i=19; $i <26 ; $i++) {
      array_push($noche, $horas[$i]);
    }
  }
  else{

  	for ($i=10; $i <19 ; $i++) {
  		array_push($tarde, $horas[$i]);
  	}
  	for ($i=19; $i <26 ; $i++) {
  		array_push($noche, $horas[$i]);
  	}
  }


?>
<?php echo Form::open('alquilar/disponibilidadPaint', 'POST', "class='form'")?>
	<h3>Reservaciones para el día <?php echo strftime("%A %e de %B del %Y", strtotime($fecha_reservacion))?></h3>
	<table id="hor-minimalist-b" summary="Canchas" class="table" style="border-spacing: 0;border-collapse: collapse;">
	    <thead>
	    	<tr>

	        	<?php foreach ($canchas as $cancha):?>
				  <?php if ($cancha->id ==4):?>
					<th><img src="/img/paint/<?php echo $cancha->img?>" alt="<? echo $cancha->nombre?>" width="100" height="100" border="0" /></th>
				  <?php endif;?>
				<?php endforeach;?>
	        </tr>
	    </thead>
	  </table>
<table id="hor-minimalist-b" summary="Canchas" class="table" style="border-spacing: 0;border-collapse: collapse;font-size: 1px; background-color: #164978;s ">
	    <thead>
	    	<tr style="font-size: 1px;">

      <?php if($date ==7 || $date == 6): ?>
			<th><h4 style="color: #fff">MAÑANA</h4></th>
      <?php endif ?>
      <?php  if($date != 7 || $date !=6):?>

			<th><h4 style="color: #fff">TARDE</h4></th>
			<th><h4 style="color: #fff">NOCHE</h4></th>
      <?php endif ?>
	        </tr>
	    </thead>
</table>
	  <div class="container_12">
      <?php if($date != 6 || $date != 7): ?>
  		<div class="grid_4" style="margin-right: 0">


  			<table id="hor-minimalist-c" style="width: 100%;">

	  		<?php foreach($manana as $hora):?>
	    				<tr style=" border-bottom: 1px solid #ccc;">
	    					<td>
	    						<?php echo $hora->hora?>
	    						 <?php foreach ($canchas as $cancha):?>
								      <?php if ($cancha->id ==4):?>
					                	<?php if(Load::model('promocion')->hasPromocionPaint($cancha->id, $diaID, $hora->id)):?>

						                    <?php if(Load::model('reservacionp')->isReservado($hora->id, $diaID, $fecha, $cancha->id)):?>
						                        <td ><img src="/img/paint/reservado.png" width="50" height="50" /></td>
						                    <?php else:?>
						                       <?php if(strtotime($fecha.$hora->hora_time) > strtotime(date('Y-m-d H:i:s'))):?>
						                           <td style=" border-bottom: 1px solid #ccc;"><img class="img-paint" src="/img/paint/disponible.png" width="50" height="50" />
						                           <?php echo Form::check("check[$cancha->id][$hora->id]", $hora->id, "class='hidden'")?>
						                        </td>
						                       <?php else:?>
						                            <td ><img src="/img/paint/tiempo_fuera.png" alt="Ya no puedes alquilar para esta hora" width="50" height="50"border="0" /></td>
						                       <?php endif;?>
						                    <?php endif; ?>
					                    <?php else:?>
					                    	<td ><strong>No Tiene Promoción</strong></td>
					                    <?php endif;?>
					                  <?php endif;?>
					             <?php endforeach;?>
	    					</td>
	    				</tr>

	    			<?php endforeach;?>
	  	</table>
  		</div>
    <?php endif ?>
    <?php if($date ==1 || $date ==2 || $date ==3 || $date ==4 || $date ==5): ?>
        <div class="grid_6" style="margin-right: 0">

    <?php endif ?>
    <?php if($date == 7 || $date == 6): ?>
        <div class="grid_4" style="margin-right: 0">
    <?php endif ?>




  			<table id="hor-minimalist-c" style="width: 100%;">
	  		<?php foreach($tarde as $hora):?>
	    				<tr style=" border-bottom: 1px solid #ccc;">
	    					<td>
	    						<?php echo $hora->hora?>
	    						 <?php foreach ($canchas as $cancha):?>
								      <?php if ($cancha->id ==4):?>
					                	<?php if(Load::model('promocion')->hasPromocionPaint($cancha->id, $diaID, $hora->id)):?>

						                    <?php if(Load::model('reservacionp')->isReservado($hora->id, $diaID, $fecha, $cancha->id)):?>
						                        <td><img src="/img/paint/reservado.png" width="50" height="50" /></td>
						                    <?php else:?>
						                       <?php if(strtotime($fecha.$hora->hora_time) > strtotime(date('Y-m-d H:i:s'))):?>
						                           <td><img class="img-paint" src="/img/paint/disponible.png" width="50" height="50" />
						                           <?php echo Form::check("check[$cancha->id][$hora->id]", $hora->id, "class='hidden'")?>
						                        </td>
						                       <?php else:?>
						                            <td><img src="/img/paint/tiempo_fuera.png" alt="Ya no puedes alquilar para esta hora" width="50" height="50" border="0" /></td>
						                       <?php endif;?>
						                    <?php endif; ?>
					                    <?php else:?>
					                    	<td><strong>No Tiene Promoción</strong></td>
					                    <?php endif;?>
					                  <?php endif;?>
					             <?php endforeach;?>
	    					</td>
	    				</tr>
	    			<?php endforeach;?>
	  	</table>
  		</div>
      <?php if($date ==1 || $date ==2 || $date ==3 || $date ==4 || $date ==5): ?>
          <div class="grid_6" style="margin-right: 0">
      <?php endif ?>
      <?php if($date == 7 || $date ==6): ?>
          <div class="grid_4" style="margin-right: 0">
      <?php endif ?>

  			<table id="hor-minimalist-c"  style="width: 100%;">
	  		<?php foreach($noche as $hora):?>
	    				<tr style=" border-bottom: 1px solid #ccc;">
	    					<td>
	    						<?php echo $hora->hora?>
	    						<?php foreach ($canchas as $cancha):?>
								      <?php if ($cancha->id ==4):?>
					                	<?php if(Load::model('promocion')->hasPromocionPaint($cancha->id, $diaID, $hora->id)):?>

						                    <?php if(Load::model('reservacionp')->isReservado($hora->id, $diaID, $fecha, $cancha->id)):?>
						                        <td><img src="/img/paint/reservado.png" width="50" height="50" /></td>
						                    <?php else:?>
						                       <?php if(strtotime($fecha.$hora->hora_time) > strtotime(date('Y-m-d H:i:s'))):?>
						                           <td><img class="img-paint" src="/img/paint/disponible.png" width="50" height="50" />
						                           <?php echo Form::check("check[$cancha->id][$hora->id]", $hora->id, "class='hidden'")?>
						                        </td>
						                       <?php else:?>
						                            <td><img src="/img/paint/tiempo_fuera.png" alt="Ya no puedes alquilar para esta hora" width="50" height="50" border="0" /></td>
						                       <?php endif;?>
						                    <?php endif; ?>
					                    <?php else:?>
					                    	<td><strong>No Tiene Promoción</strong></td>
					                    <?php endif;?>
					                  <?php endif;?>
					             <?php endforeach;?>
	    					</td>
	    				</tr>
	    			<?php endforeach;?>
	    			<tr style=" border-bottom: 1px solid #ccc; height: 71px;">
	    				<td></td>
	    				<td></td>
	    			</tr>
	    			<tr style=" border-bottom: 1px solid #ccc;height: 71px;">
	    				<td></td>
	    				<td></td>
	    			</tr>

            <?php if ($date == 7): ?>
              <tr style=" border-bottom: 1px solid #ccc;height: 71px;">
                <td></td>
                <td></td>
              </tr>
              <tr style=" border-bottom: 1px solid #ccc;height: 71px;">
  	    				<td></td>
  	    				<td></td>
  	    			</tr>
              <tr style=" border-bottom: 1px solid #ccc;height: 71px;">
  	    				<td></td>
  	    				<td></td>
  	    			</tr>

            <?php endif; ?>
	  	</table>
  		</div>
	  </div>




	<table id="hor-minimalist-b" summary="Canchas" class="table" style="border-spacing: 0;border-collapse: collapse;">
	<tbody>
			<tr>
				<td colspan="2">
					<img src="/img/paint/tiempo_fuera.png" alt="Ya no puedes alquilar para esta hora" width="40" height="40" border="0" />
					<p style="text-align:center">No disponible</p>
				</td>
				<td colspan="2">
					<img src="/img/paint/reservado.png" alt="Cancha Ocupada" width="40" height="40" border="0" />
					<p style="text-align:center">Cancha Reservada</p>
				</td>
				<td colspan="2">
					<img src="/img/paint/disponible.png" alt="Cancha Disponible" width="40" height="40" border="0" />
					<p style="text-align:center">Cancha Disponible</p>
				</td>
			</tr>
	    </tbody>
	</table>
	<?php echo Form::hidden('reservacion.fecha_reservacion', NULL, $fecha)?>
	<?php echo Form::hidden('reservacion.dia', NULL, $diaID)?>
    <div class="alpha grid_12 buttom">
        <?php echo Form::submit('Enviar')?>
    </div><div class="clear"></div>
<?php echo Form::close()?>
