<?php View::content()?>
<div class="form">
    <h3>RECIBO</h3>
    <div class="grid_7">
        <span>IDENTIFICADOR: <?php echo $orderID?></span>
    </div><div class="clear"></div>
    <?php if (sizeof($reservacion)!= 0): ?>
    <div class="grid_7">
        <span>FECHA RESERVACIÓN: <?php echo strftime("%d/%m/%Y", strtotime($reservacion[0]->fecha_reservacion ))?></span>
    </div><div class="clear"></div>
    <?php endif ?>
    
    <div class="grid_7">
        <span>NÚMERO DE REFERENCIA BANCO: <?php echo $refnum ?></span>
    </div><div class="clear"></div>
<?php if (sizeof($reservacion)!= 0): ?>
    <table id="hor-minimalist-b" summary="Canchas">
        <thead>
            <tr>
                <th>Cancha</th>
                <th>Hora</th>
                <th class="precio">Precio</th>
            </tr>
        </thead>
        <?php $total = $descuento = 0?>
        <tbody>
            <?php
            $i=0;
            $h=900;



             foreach($reservacion as $item):
              if ($item->precio != 0) :
                if ($item->precio != 900) :
                    $val = $item->precio/1.12;
                  ?>
            <tr>
                <td><?php echo $item->nombre_cancha?></td>
                <td><?php echo $item->hora ?></td>
                <td class="precio">Bs. F <?php echo number_format($val, 2, ',', '.');endif;endif; ?></td>
                <?php
                if ($item->precio != 0) :
                  if ($item->precio != 900) :
                    $total += $val;
                  endif;
                endif;


                    ?>

            </tr>
          <?php
          endforeach;?>
            <?php if($cupon=='si'):?>
                <?php $descuento = ($total*0.20);?>
                <tr class="total sel"><td colspan="2" style="text-align: right;">20% descuento cupón DIRECTV: </td><td>Bs. F <strong><?php echo number_format($descuento, 2, ',', '.') ?></strong></td></tr>
            <?php endif?>
            <tr class="total sel"><td colspan="2" style="text-align: right;">I.V.A.: </td><td>Bs. F <strong><?php
            $value_iva= (($total-$descuento)*0.12) ;
             echo number_format($value_iva, 2, ',', '.') ?></strong></td></tr>
            <tr class="total sel"><td colspan="2" style="text-align: right;">Total a pagar:</td><td>Bs. F <strong><?php echo number_format($total-$descuento+$value_iva, 2, ',', '.') ?></strong></td></tr>
        </tbody>
    </table>
<?php endif ?>
<?php if (sizeof($reservacion)== 0):
$val = $total/1.12;
 ?>
    <table id="hor-minimalist-b" summary="Canchas">
        <thead>
            <tr>
                <th>Motivo</th>
                <th></th>
                <th class="precio">Monto</th>
            </tr>
        </thead>
        <tbody>


            <tr>
                <td>Compra en punto de Venta Directv SportPark</td>
                <td></td>
                <td class="precio">Bs. F <?php echo number_format($val, 2, ',', '.')?></td>

            </tr>


            <tr class="total sel"><td colspan="2" style="text-align: right;">I.V.A.: </td><td>Bs. F <strong><?php
            $iva= (($val)*0.12);
             echo number_format($iva, 2, ',', '.') ?></strong></td></tr>
            <tr class="total sel"><td colspan="2" style="text-align: right;">Total a pagar:</td><td>Bs. F <strong><?php echo number_format($val+$iva, 2, ',', '.') ?></strong></td></tr>
        </tbody>
    </table>
<?php endif ?>
    <div class="grid_12">
    <?php if (sizeof($reservacion)== 0): ?>
    <span>IMPORTANTE</span>
	    <ul>
	        <li>FAVOR IMPRIMIR ESTE RECIBO, EL CUAL ES <span style="padding-top:12px;font-weight:bold;text-decoration: underline;display: inline;">INDISPENSABLE PRESENTARLO</span> EN EL PARQUE PARA HACER USO DE SU RESERVA.</li>
	        <li>RECUERDE QUE SI UTILIZÓ UN CUPÓN DE DESCUENTO ES OBLIGATORIO PRESENTARLO, DE LO CONTRARIO SE LE COBRARÁ EL 20% DE DESCUENTO OTROGADO EN ESTA COMPRA.</li>
	        <li>EL CUPÓN DEBE TENER EL MISMO NÚMERO QUE EL APLICADO EN LA COMPRA Y SI ES DE UN FAMILIAR (PADRE O MADRE) DEBERÁ PRESENTAR COPIA DE LA CÉDULA DE IDENTIDAD, RECUERDE QUE EL CUPÓN <span style="padding-top:12px;font-weight:bold;text-decoration: underline;display: inline;">ES SÓLO</span> PARA CLIENTES DE DIRECTV Y SUS FAMILIARES DIRECTOS.</li>
	        <li>AL PRESENTAR ESTE RECIBO, SE LE ENTREGARÁ LA CORRESPONDIENTE FACTURA DE SU COMPRA.</li>
	    </ul>
        <?php endif ?>
    </div><div class="clear"></div>
</div>
