<?php View::content()?>

<form class="form" method="POST" action="https://www.pago-electronico.com/ipg_frame.php">
    <h3>Pago</h3>
    <input type="hidden" name="orderId"  value="<?php echo $alquiler->id ?>" />
    <input type="hidden" name="total"  value="<?php echo $total1 ?>" />
    <input type="hidden" name="strvalue2" value="<?php echo PUBLIC_PATH ?>alquilar/pagado" />
    <input type="hidden" name="currId" value="937" />
    <input type="hidden" name="merchId" value="71366987" />
    <input type="hidden" name="termId" value="4001" />
    <input type="hidden" name="storeId" value="0" />
    <input type="hidden" name="digest" value="<?php echo $digest;?>" />
    <input type="hidden" name="strvalue1" value="<?php echo $cupon?>" />
    <input type="hidden" name="tipo_pago" value="1" />
    <input type="hidden" name="color_table" value="blue" />
    <input type="hidden" name="color_fondo" value="white" />
    <input type="hidden" name="color_celda" value="lightpink" />
    <input type="hidden" name="color_celda2" value="pink" />
    <input type="hidden" name="color_letra" value="black" />
    <input type="hidden" name="tipo_letra" value="arial" />
    <input type="hidden" name="tamano_letra" value="2" />
    <input type="hidden" name="ancho_tabla" value="50" />
    <input type="hidden" name="centrado_tabla" value="CENTER" />
    <input type="hidden" name="entId" value="301" />
    <input type="hidden" name="pageType" value="php" />
    <div class="grid_7">
        <label for="paciente_cedula">Nombre del Titular
            <span class="small">*</span> 
        </label>
        <input type="text" name="ipg_nombre" autocomplete='off' required="required" />
    </div><div class="clear"></div>
    <div class="grid_7">
        <label for="paciente_cedula">Cédula del Titular
            <span class="small">*</span> 
        </label>
        <input type="number" name="ipg_cedula" autocomplete='off' required="required" />
    </div><div class="clear"></div>
    <div class="grid_7">
        <label for="paciente_cedula">Tipo de Tarjeta
            <span class="small">*</span> 
        </label>
        <?php echo Form::select('ipg_tipotarjeta', array(''=>'Seleccione', 'V'=>'Visa','M'=>'MasterCard'), "class='w-200' required='required'")?>
        <span class="ico-master" style="display: inline;"></span><span style="display: inline;" class="ico-visa"></span>
    </div><div class="clear"></div>
    <div class="grid_7">
        <label for="paciente_cedula">Mes Vencimiento
            <span class="small">*</span> 
        </label>
        <?php echo Form::select('ipg_mesv', array(''=>'Mes', 1=>'01',2=>'02',3=>'03',4=>'04',5=>'05',6=>'06',7=>'07',8=>'08',9=>'09',10=>'10',11=>'11',12=>'12'), "class='w-200' required='required'")?>
    </div><div class="clear"></div>
    <div class="grid_7">
        <label for="paciente_cedula">Año Vencimiento
            <span class="small">*</span> 
        </label>
        <?php echo Form::select('ipg_anov', array(''=>'Año', 2009=>2009, 2010=>2010, 2011=>2011,2012=>2012, 2013=>2013, 2014=>2014, 2015=>2015,2016=>2016,2017=>2017,2018=>2018,2019=>2019,2020=>2020,2021=>2021, 2022=>2022,2023=>2023,2024=>2024,2025=>2025), "class='w-200' required='required'")?>
    </div><div class="clear"></div>
    <div class="grid_7">
        <label for="paciente_cedula">Total a pagar: <?php echo $total ?></label>
    </div><div class="clear"></div>

    <div class="grid_12 buttom alpha">
        <?php echo Form::submit('Pagar')?>
    </div><div class="clear"></div>
    
</form>
