<?php View::content() ?>

<?php echo Form::open('alquilar', 'POST', "class='form'")?>
    <h3>Día que desea reservar</h3>
	<div class="grid_7">
		<label for="paciente_cedula">Fecha
        	<span class="small">*</span> 
		</label>
        <?php echo Form::date('fecha', NULL, "required='required' data-message='Campo requerido'");?>
    </div><div class="clear"></div>    
    <div class="alpha grid_12 buttom">
        <?php echo Form::submit('Enviar')?>
    </div><div class="clear"></div>
    
<?php echo Form::close()?>