<?php View::content() ?>

<div class='form'>
    <h3>LISTA DE RESERVACIONES</h3>
    <table id="hor-minimalist-b" summary="Canchas">
        <thead>
            <tr>
                <th>Identificador</th>
                <th>Cliente/Responsable</th>
                <th>Fecha Compra</th>
                <th>Tipo</th>
                <th></th>

            </tr>
        </thead>
        <tbody>
            <?php foreach($reservaciones->items as $reservacion):?>
            <tr>
                <td><?php echo $reservacion->id ?></td>
                <td><?php echo $reservacion->name ?></td>
                <td><?php echo strftime("%d/%m/%Y", strtotime($reservacion->fecha_at))?></td>
                <td>Futbol</td>
                <td><a title="Detalle" class="menu" href="/mi_alquiler/detalle/<?php echo $reservacion->id ?>/" rel="#overlay"><span>Detalle</span></a></td>
            </tr>
            <?php endforeach;?>
            <?php foreach($reservacionesPaint->items as $reservacion):?>
            <tr>
                <td><?php echo $reservacion->id ?></td>
                <td><?php echo $reservacion->name ?></td>
                <td><?php echo strftime("%d/%m/%Y", strtotime($reservacion->fecha_at))?></td>
                <td>Paintball</td>
                <td><a title="Detalle" class="menu" href="/mi_alquiler/detallePaint/<?php echo $reservacion->id ?>/" rel="#overlay"><span>Detalle</span></a></td>
            </tr>
            <?php endforeach;?>
        </tbody>
    </table>    
    <?php View::partial('paginators/classic', FALSE, array('page' => $reservaciones, 'show' => 2, 'url' => 'mis_alquileres'))?>
</div>

<div class="modal" id="overlay">
    <!-- the external content is loaded inside this tag -->
    <div class="contentWrap"></div>
</div>
