<?php View::content() ?>
<?php //var_dump($check)?>
<?php $total=0;?>
<?php echo Form::open('alquilar/pre_orden_admin', 'POST', "class='form'")?>
    <h3>LISTADO DE RESERVAS</h3>
    <table id="hor-minimalist-b" summary="Canchas" class="pre-order">
        <thead>
            <tr>
                <th>Cancha</th>
                <th>Hora</th>
                <th class="precio">Precio</th>
            </tr>
        </thead>
        <tbody>
            <?php foreach($check as $cancha=>$horas):?>
                <?php foreach ($horas as $hora):?>
                <tr>
                    <?php $infoReserva = Load::model('promocion')->getPrecio($hora, $dia, $cancha)?>
                    <td><img src="/img/<?php echo $infoReserva->img?>" alt="<? echo $infoReserva->nombre?>" width="100" height="100" border="0" /></td>
                    <td><?php echo $infoReserva->hora?></td>
                    <td class="precio">Bs. F <?php echo number_format($infoReserva->precio, 2, ',', '')?></td>
                    <?php $total+=$infoReserva->precio?>
                </tr>
                <?php echo Form::hidden("check[$cancha][$hora]", NULL, $infoReserva->precio)?>
                <?php endforeach;?>
            <?php endforeach;?>
            <tr class="total sel"><td colspan="2" style="text-align: right;">Monto total a pagar:</td><td>Bs. F <strong><?php echo number_format($total, 2, ',', '') ?></strong></td></tr>
        </tbody>
    </table>
    <div class="grid_12">
        <label for="reservacion_cupon">Observación de la reservación</label>
        <?php echo Form::textarea('reservacion.observacion', "rows='3' cols='87' required='required' data-message='Indique el motivo de la reservación'");?>
    </div><div class="clear"></div>
    <?php echo Form::hidden('reservacion.fecha_reservacion', NULL, $fecha_reservacion)?>
    <?php echo Form::hidden('reservacion.dia', NULL, $dia)?>
    <?php echo Form::hidden('totalPagar', NULL, $total)?>
    <?php echo Form::hidden('reservacion.userID', NULL, Session::get('userID'))?>
    <?php echo Form::hidden('reservacion.cupon');?>
    <div class="grid_12 alpha buttom">
        <input type="button" VALUE="Regresar" onClick="window.location='/'" />
        <?php echo Form::submit('Reservar')?>
    </div><div class="clear"></div>
    
<?php echo Form::close()?>