<?php View::content() ?>
<?php //var_dump($check)?>
<?php $total=0;?>
<?php echo Form::open('alquilar/admintdcf', 'POST', "class='form'")?>
    <h3>Monto a Cobrar</h3>
    <div class="grid_12" style="text-align: center;">
    		<span style="font-size: 18px; margin-top: 25px; ">Introduzca Monto a Cobrar: </span>
    	
    </div>
    <div class="grid_12">
    	<div class="grid_4" style="float: left; position: relative; left: 35%; margin-top: 35px;">
    		<input type="text" name="total" id="my-input" class="my-input" required="required" placeholder="0,00">
    </div>
   
    </div>
       <?php echo Form::hidden('userID', NULL, Session::get('userID'))?>
 
    <div class="grid_12 alpha buttom">
        <input type="button" VALUE="Regresar" onClick="window.location='/'" />
        <?php echo Form::submit('Siguiente')?>
    </div><div class="clear"></div>
    
<?php echo Form::close()?>
