<div class="form">
    <h3>INFORMACIÓN</h3>
    <div class="grid_7">
        <span>IDENTIFICADOR: <?php echo $alquiler->id?></span>
    </div><div class="clear"></div>
    <div class="grid_7">
        <span>FECHA RESERVACIÓN: <?php echo strftime("%d/%m/%Y", strtotime($reservacion[0]->fecha_reservacion ))?></span>
    </div><div class="clear"></div>
    <div class="grid_7">
        <span>CUPÓN: <?php if($alquiler->cupon){echo $alquiler->cupon;}else{echo 'No';}?></span>
    </div><div class="clear"></div>
    <div class="grid_7">
        <span>RESPONSABLE: <?php echo $alquiler->name?></span>
    </div><div class="clear"></div>

    <table id="hor-minimalist-b" summary="Canchas">
        <thead>
            <tr>
                <th>Cancha</th>
                <th>Hora</th>
            </tr>
        </thead>
        <?php $total = $descuento = 0?>
        <tbody>
            <?php
            $i = "h";
            $h = "h";
            foreach($reservacion as $item):
            if ($i != $item->nombre_cancha or $h !=   $item->hora): ?>
            <tr>
                <td><?php echo $item->nombre_cancha?></td>
                <td><?php echo $item->hora ?></td>
            </tr>
            <?php
            $i = $item->nombre_cancha;
            $h = $item->hora;
            endif;
          endforeach;?>
        </tbody>
    </table>
</div>
