<?php View::content() ?>

<div class='form'>
    <?php View::partial('busquedaPaint')?>
    <?php if($action_name == 'hoy'):?>
        <h3>RESERVACIONES PARA HOY (<?php echo date('d-m-Y')?>)</h3>
    <?php else: ?>
        <h3>RESULTADOS DE LA BÚSQUEDA</h3>
    <?php endif;?>
    <table id="hor-minimalist-b" summary="Canchas">
        <thead>
            <tr>
                <th>Identificador</th>
                <th>Cliente / Responsable</th>
                <th>Cancha / Hora</th>
                <th>Teléfonos Contacto</th>
                <th>Cupón</th>
                <th>Observación</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
          <?php

$i = "h";
$h = "h";
          foreach($reservaciones as $reservacion):?>


<?php if ($i != $reservacion->nombre_cancha or $h !=  $reservacion->hora): ?>




<tr>
    <td><?php echo $reservacion->id ?></td>
    <?php if($reservacion->usertype == 'admin'):?>
        <td>Academia Futsal</td>
    <?php else:?>
        <td><?php echo $reservacion->name ?><br /><?php echo $reservacion->cedula?></td>
    <?php endif; ?>
    <td><?php echo $reservacion->nombre_cancha.' / '.$reservacion->hora ?></td>
    <td><?php echo $reservacion->phone_1.' / '.$reservacion->phone_2?></td>
    <td><?php echo $reservacion->cupon ?></td>
    <td><?php echo $reservacion->observacion ?></td>
        <td>
         <a title="Detalle" class="menu" href="/admin/reservaciones/detalle/<?php echo $reservacion->id ?>" rel="#overlay"><span>Detalle</span></a>
    </td>
    <td>
         <a title="Detalle" class="menu green" href="/admin/reservaciones/cancelarPaint/<?php echo $reservacion->id ?>"><span>Cancelar</span></a>
    </td>
</tr>
<?php

$i = $reservacion->nombre_cancha;
$h = $reservacion->hora;
endif;
 endforeach;?>
</tbody>
</table>
</div>



?>
