<?php View::content() ?>
<div class="container_12">
  <div class="grid_6" style="text-align: center;">
  	<a href='/admin/reservaciones/hoyList'><img src="/img/cancha_4.png"> </a>
  </div>
  <div class="grid_6" style="text-align: center;">
  	<a href='/admin/reservaciones/hoyPaint'><img src="/img/paint/disponible.png" style="width: 100px; height: 100px;"></a>
  </div>
</div>
<div class="container_12">
  <div class="grid_6" style="text-align: center;">
  	<a href='/alquilar/disponibilidad/'>Futbol</a>
  </div>
  <div class="grid_6" style="text-align: center;">
  	<a href='/alquilar/paint/'>PaintBall</a>
  </div>
</div>

