<?php View::content() ?>

<div class='form'>
    <h3>LISTA DE RESERVACIONES CANCELADAS</h3>
    <table id="hor-minimalist-b" summary="Canchas">
        <thead>
            <tr>
                <th>Identificador</th>
                <th>Cliente/Responsable</th>
                <th>Fecha Compra</th>
                <th>Fecha Reservación</th>
                <th>Observación</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <?php foreach($reservaciones->items as $reservacion):?>
            <tr>
                <td><?php echo $reservacion->id ?></td>
                <td><?php echo $reservacion->name ?></td>
                <td><?php echo strftime("%d/%m/%Y", strtotime($reservacion->fecha_at))?></td>
                <td><?php echo strftime("%d/%m/%Y", strtotime($reservacion->fecha_reservacion))?></td>
                <td><?php echo $reservacion->observacion ?></td>
                <td>
                    <a title="Detalle" class="menu" href="/admin/reservaciones/detalle/<?php echo $reservacion->id ?>/CANCELLED" rel="#overlay"><span>Detalle</span></a>
                </td>
            </tr>
            <?php endforeach;?>
        </tbody>
    </table>    
    <?php View::partial('paginators/classic', FALSE, array('page' => $reservaciones, 'show' => 30, 'url' => 'admin/reservaciones/canceladas'))?>
</div>

<div class="modal" id="overlay">
    <!-- the external content is loaded inside this tag -->
    <div class="contentWrap"></div>
</div>
