<?php
echo Form::open('admin/reservaciones/buscarPaint/')?>
        <div class="grid_2">
        <label>Identificador</label>
            <?php echo Form::text('identificador');?>
        </div>
        <div class="grid_2">
        <label>Fecha</label>
            <?php echo Form::date('fechaAlquiler');?>
        </div>
        <div class="grid_2">
        <label>Cédula</label>
            <?php echo Form::text('cedula');?>
        </div>
        <div class="grid_2">
            <?php echo Form::submit('Buscar', "style='float:none; margin-top:31px;margin-bottom:0px;padding-bottom:5px;padding-top:5px; width:70px'")?>
        </div>
        <div class="clear"></div>
<?php echo Form::close()?>
