    <h3 style="margin:0px;padding:20px 30px 20px 30px; background-color:#164978; color:#fff; font-size:25px; border-bottom:1px solid #ddd;">Recuperación de Clave</h3><br /><br />
    
    Hola, <strong><?php echo $user->name ?></strong> tal como lo solicito, le estamos enviando sus datos de acceso para el sistema de pago y alquiler online de futsal<br />
    <span style="padding-top:12px;display:block;font-weight:bold;">Usuario de Acceso: <?php echo $user->username?></span><br />
    <span style="padding-top:12px;display:block;font-weight:bold;">Clave: <?php echo $newPass ?></span><br />
    
--<br />
DIRECTV Sport Park.<br />
http://sportpark.com.ve<br />
    