<?php View::content()?>
<?php echo Form::open('promocion/nuevo', 'POST', "class='form'")?>
    <h3>Agregar Precios</h3>
	<div class="grid_7">
		<label for="paciente_cedula">Nombre
        	<span class="small">*</span> 
		</label>
        <?php echo Form::text('promocion.nombre')?>
    </div><div class="clear"></div>
    <div class="grid_4">
		<label for="paciente_cedula">Precio
        	<span class="small">*</span> 
		</label>
        <?php echo Form::text('promocion.precio')?>
    </div>
    <div class="prefix_1 grid_4">
		<label for="paciente_cedula">Cancha
        	<span class="small">*</span> 
		</label>
        <?php echo Form::selectMulti('promocion_cancha', $canchas)?>
    </div>
    <div class="clear"></div>
    <div class="grid_4">
		<label for="promocion_hora_hora_id">Hora
        	<span class="small">*</span> 
		</label>
        <?php echo Form::selectMulti('promocion_hora', $horas, NULL, "title='Seleccione...'");?>
    </div>
    <div class="prefix_1 grid_4">
		<label for="promocion_hora_hora_id">Días
        	<span class="small">*</span> 
		</label>
        <?php echo Form::selectMulti('promocion_dia', $dias, NULL, "title='Seleccione...'");?>
    </div><div class="clear"></div>
    <div class="grid_7">
		<label for="paciente_cedula">Estatus
        	<span class="small">*</span> 
		</label>
        <?php echo Form::select('promocion.estatus', array(''=>'Seleccione...', '1'=>'Activo', '2'=>'Inactivo'))?>
    </div><div class="clear"></div>
    
    <div class="grid_12 alpha buttom">
        <?php echo Form::submit('Enviar')?>
    </div><div class="clear"></div>
    
<?php echo Form::close()?>